radarr:
  radarr:
    delete_old_custom_formats: true
    replace_existing_custom_formats: true

    quality_definition:
      type: movie

    include:
      - config: radarr-naming.yml
      - config: radarr-cfs.yml
      - config: radarr-qp.yml

  radarr4k:
    delete_old_custom_formats: true
    replace_existing_custom_formats: true

    quality_definition:
      type: movie

    include:
      - config: radarr-naming.yml
      - config: radarr4k-cfs.yml
      - config: radarr4k-qp.yml

  radarranime:
    delete_old_custom_formats: true
    replace_existing_custom_formats: true

    quality_definition:
      type: movie

    include:
      - config: radarr-naming.yml
      - config: radarranime-cfs.yml
      - config: radarranime-qp.yml

  radarrgerman:
    delete_old_custom_formats: true
    replace_existing_custom_formats: true

    quality_definition:
      type: movie

    include:
      - config: radarr-naming.yml
      - config: radarrgerman-cfs.yml
      - config: radarrgerman-qp.yml
