sonarr:
  sonarr:
    delete_old_custom_formats: true

    quality_definition:
      type: series

    include:
      - config: sonarr-naming.yml
      - config: sonarr-cfs.yml
      - config: sonarr-qp.yml

  sonarr4k:
    delete_old_custom_formats: true

    quality_definition:
      type: series

    include:
      - config: sonarr-naming.yml
      - config: sonarr4k-cfs.yml
      - config: sonarr4k-qp.yml

  sonarranime:
    delete_old_custom_formats: true

    quality_definition:
      type: anime

    include:
      - config: sonarr-naming.yml
      - config: sonarranime-cfs.yml
      - config: sonarranime-qp.yml

  sonarrgerman:
    delete_old_custom_formats: true

    quality_definition:
      type: series

    include:
      - config: sonarr-naming.yml
      - config: sonarrgerman-cfs.yml
      - config: sonarrgerman-qp.yml
